<%- include("../partials/header") %> 
<%- include("../partials/navbar") %>
<div class="container">
  <h1 class="text-center display-4 mt-3">Edit comment</h1>
  <div class="row">
    <form
      method="POST"
      action="/posts/<%= post_id %>/comments/<%= comment._id %>?_method=PUT"
      style="margin: 0 auto"
    >
        <div class="form-group">
        <label for="text">Text:</label>
        <input type="text" name="comment[text]" id="text" value="<%= comment.text %>" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
