<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container">
    <h1><%= post.title %></h1>
    <h6><%= post.author %></h6>
    <h6><%= post.created.toLocaleString(); %></h6>
    <p><%= post.description %></p>
</div>
<div>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

<%- include("partials/footer") %>