<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container">
    <div class="thumbnail mb-3">

        <h1 class="display-2"><%= post.title %></h1>
        <hr>
        <p class="lead"><%- post.description %></p>
        <h6 class="text-muted"><em>Created by:</em> <strong><%= post.author.username %></strong></h6>
        <h6 class="text-muted"><%= post.created.toLocaleString(); %></h6>
        <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
        <div class="row justify-content-end mr-1">
            <a href="/posts/<%= post._id %>/edit" class="btn btn-primary">Edit</a>
            <div class="ml-1"> 
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% } %>        
    </div>
    <hr>
    <div>
        <model-viewer ar class="a"
            src="https://firebasestorage.googleapis.com/v0/b/eduar-5dcad.appspot.com/o/models%2F<%= post.author.id %>%2F<%= post.uuid %>%2F<%= post.filename %>?alt=media&token=<%= post.uuid %>"
            alt="A 3D model of an astronaut"
            background-color="#FF6F59"
            shadow-intensity="1"
            camera-controls
            auto-rotate
            style="width: 100%; height: 600px;">
        </model-viewer>
    </div>
    <hr>
    <div class="well mt-3">    
        <div class="text-right mb-3">
            <a class="btn btn-primary" href="/posts/<%= post._id %>/comments/new">New Comment</a>
        </div>
        <% post.comments.forEach( (comment) => { %>
            <div class="row mb-4">
                <div class="col-md-11 col-sm-5">
                    <strong><%= comment.author.username %></strong>
                    <p><%= comment.text %></p>
                    <span class="pull-right"><%= comment.created.toLocaleString(); %></span>
                </div>
                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <div class="justify-content-end col-md-1">
                        <a class="btn btn-xs btn-primary inline" href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">Edit</a>
                        <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="">
                            <button class="btn btn-xs btn-danger inline" type="submit">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
            
        <% }); %>
    </div>
            


</div>
<%- include("../partials/footer") %>