<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container">
    <div class="thumbnail">

        <h1><%= post.title %></h1>
        <h6><%= post.author.username %></h6>
        <h6><%= post.created.toLocaleString(); %></h6>
        <p class="caption-full"><%- post.description %></p>
        <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
        <a href="/posts/<%= post._id %>/edit">Edit</a>
        <div>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <% } %>        
    </div>
    <div class="well">    
        <div class="text-right">
            <a class="btn btn-primary" href="/posts/<%= post._id %>/comments/new">New Comment</a>
        </div>
        <hr>
        <% post.comments.forEach( (comment) => { %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= comment.author.username %></strong>
                    <p><%= comment.text %></p>
                    <span class="pull-right">10 days ago</span>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-xs btn-warning" href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">Edit</a>
                    <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <hr>
            
        <% }); %>
    </div>
            

        <!-- ðŸš¨ REQUIRED: Web Components polyfill to support Edge and Firefox < 63 -->
        <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>

        <!-- ðŸ’ OPTIONAL: Intersection Observer polyfill for better performance in Safari and IE11 -->
        <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
    
        <!-- ðŸ’ OPTIONAL: Resize Observer polyfill improves resize behavior in non-Chrome browsers -->
        <script src="https://unpkg.com/resize-observer-polyfill@1.5.0/dist/ResizeObserver.js"></script>

        <div>
            <model-viewer class="a"
                src="https://firebasestorage.googleapis.com/v0/b/eduar-5dcad.appspot.com/o/digestive_tract.glb?alt=media&token=3a6942dd-4de9-4477-a16a-332b37057346"
                alt="A 3D model of an astronaut"
                background-color="#FF6F59"
                shadow-intensity="1"
                camera-controls
                auto-rotate
                style="width: 1000px; height: 600px;">
            </model-viewer>
        </div>

        <script type="module"
            src="https://unpkg.com/@google/model-viewer@v0.3.1/dist/model-viewer.js">
        </script>
    
        <!-- Loads <model-viewer> for old browsers like IE11: -->
        <script nomodule
            src="https://unpkg.com/@google/model-viewer@v0.3.1/dist/model-viewer-legacy.js">
        </script>
</div>
<%- include("../partials/footer") %>