<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container">
    <div class="row mt-4 justify-content-center mr-auto ml-auto" style="display: flex; flex-wrap: wrap;">
        <% posts.forEach((item) => { %>
        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card">
              <div style="">
                <model-viewer ar ar_preferred class="a"
                    src="https://firebasestorage.googleapis.com/v0/b/eduar-5dcad.appspot.com/o/models%2F<%= item.author.id %>%2F<%= item.uuid %>%2F<%= item.filename %>?alt=media&token=<%= item.uuid %>"
                    alt="A 3D model of an astronaut"
                    background-color="#9b30ff"
                    shadow-intensity="1"
                    camera-controls
                    auto-rotate
                    style="width: 100%; height: 20em;">
                </model-viewer>
              </div>
                <div class="card-body">
                    <h5 class="card-title"><%= item.title %></h5>
                    <p class="card-text"><%= item.description %></p>
                    <small class="text-muted"><%= item.author.username %></small>
                    <hr />
                    <a href="/posts/<%= item._id %>" class="btn btn-primary">Open model</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<%- include("../partials/footer") %>
